 .umlDocHeader {
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	color: #000000;
}

 .umlDocHeader2 {
	font-family: Arial;
	font-size: 11pt;
	color: #000000;
}

 .umlHeader {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
}

 .umlHeader2 {
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
}

 .umlTitle {
	font-family: Arial;
	font-size: 8pt;
	color: #808080;
}

 .umlData {
	font-family: Arial;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
}

 .umlSubTitle {
	font-family: Arial;
	font-size: 8pt;
	color: #808080;
}

 .umlSubData {
	font-family: Arial;
	font-size: 8pt;
	color: #000000;
}

 .umlFooter {
	font-family: Arial;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
}

 .umlFooter2 {
	font-family: Arial;
	font-size: 8pt;
	color: #808080;
}

 pre {
	margin-top: 0;
	margin-bottom: 0;
}

 .table-no-border {
	line-height: 100%;
}

 .table-border {
	line-height: 100%;
	border-style: solid;
	border-left-color: #ECE9D8;
	border-top-color: #ECE9D8;
	border-right-color: #ACA899;
	border-bottom-color: #ACA899;
}

 .table-borderwithoutoutline {
	line-height: 100%;
	border-style: solid;
	border-width: 0px;
}

 .td-border {
	border-style: solid;
	border-width: 1px;
	border-left-color: #ACA899;
	border-top-color: #ACA899;
	border-right-color: #ECE9D8;
	border-bottom-color: #ECE9D8;
}

 .td-border-left {
	border-style: solid;
	border-left-width: 0px;
	border-top-color: #ACA899;
	border-right-color: #ECE9D8;
	border-bottom-color: #ECE9D8;
}

 .td-border-top-left {
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-color: #ECE9D8;
	border-bottom-color: #ECE9D8;
}

 .td-border-top {
	border-style: solid;
	border-top-width: 0px;
	border-left-color: #ACA899;
	border-right-color: #ECE9D8;
	border-bottom-color: #ECE9D8;
}

 .td-border-top-right {
	border-style: solid;
	border-top-width: 0px;
	border-left-color: #ACA899;
	border-top-color: #ACA899;
	border-right-width: 0px;
	border-bottom-color: #ECE9D8;
}

 .td-border-right {
	border-style: solid;
	border-right-width: 0px;
	border-left-color: #ACA899;
	border-top-color: #ACA899;
	border-bottom-color: #ECE9D8;
}

 .td-border-bottom-right {
	border-style: solid;
	border-left-color: #ACA899;
	border-top-color: #ACA899;
	border-right-width: 0px;
	border-bottom-width: 0px;
}

 .td-border-bottom {
	border-style: solid;
	border-bottom-width: 0px;
	border-left-color: #ACA899;
	border-top-color: #ACA899;
	border-right-color: #ECE9D8;
}

 .td-border-bottom-left {
	border-style: solid;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-right-color: #ECE9D8;
	border-top-color: #ACA899;
}

 .td-border-left-single {
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-color: #ECE9D8;
	border-bottom-width: 0px;
}

 .td-border-right-single {
	border-style: solid;
	border-left-color: #ACA899;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
}

 .td-border-single {
	border-style: solid;
	border-left-color: #ACA899;
	border-top-width: 0px;
	border-right-color: #ECE9D8;
	border-bottom-width: 0px;
}

